<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://c.tenor.com/RH9jOdC3R80AAAAd/cat-bop.gif" alt="" width="40px" />
 <%= link_to 'Fazer logoff [Usuário]', destroy_user_session_path, method: :delete %> 
    </div>
  </div>
</div>